<script defer src="https://api-maps.yandex.ru/2.1/?apikey=a548ee4a-db42-48ee-94ce-f5f244efc857&lang=ru_RU"></script>
<script defer src="/js/maps.js"></script>

<h2 class="contacts">Контакты</h2>
<p class="contacts-text">Вы можете прийти в мастерскую по следующему адресу:</p>
<div id="map" class="map"></div>
