<footer>
  <div id="foot" class="container">
    <div class="row" style="width: inherit; height: inherit;">
      <div class="col-md-6 col-sm-6" style="display: flex; align-items: center; height: inherit;">
        <p class="copyright-text">Designed and Developed by Raccoons-2022</p>
      </div>
      <div class="col-md-6 col-sm-6"
        style="display: flex; align-items: center; height: inherit; justify-content: flex-end;">
        <p class="copyright-text">Watchers in social networks: </p>
        <div class="social-footer text-right" style="margin-left: 0.5rem;">
          <a href="https://ru-ru.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/?lang=ru" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
          <a href="https://www.skype.com/ru/" class="fa fa-skype"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
